@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #22262A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
}
button:focus{
  outline: none !important;
  box-shadow: none !important;
}

a{
  transition: 0.5s ease-in-out ;
}
a:hover{
  color: #33A0FF !important; 
}

.BreadcrumbItem a{
  color: #33A0FF;
}
.BreadcrumbItem a:hover{
  color: var(--foreground) !important;
}


@layer components {
  .custom-flex {
    @apply flex items-center
  }
}
